a {
    text-decoration: none;
    color: inherit;
}

.main-body {
  background-image: url('../images/skyLowRes.png');
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  width:100vw;
  text-align: center;
  color: #DDDDDD;
}

.main-body .row:first-child {
  margin-top: 10%;
}

.photo-row img {
  margin-top: 10%;
  height: 220px;
  width: 170px;
}

.project-row img {
  height: 150px;
  width: 250px;
}

@media (max-width: 550px) {
  .photo-row img {
    height: 20vh;
    width: 25vw;
  }
  .project-row img {
    height: 20vh;
    width: 40vw;
  }
  .contact-me {
    padding-top: 50%;
  }


}
