a {
  text-decoration: none;
  color: inherit;
}

.main-body {
  background-image: url("../images/skyLowRes.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  text-align: center;
  color: #dddddd;
}

.other-body {
  background-color: #768d93;
  background-size: cover;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  text-align: center;
  color: #dddddd;
  border-top: 2px solid black;
}

.main-body .row:first-child {
  margin-top: 10%;
}

.photo-row img {
  margin-top: 10%;
  height: 220px;
  width: 170px;
}

.project-row img {
  height: 150px;
  width: 250px;
}

@media (max-width: 550px) {
  .photo-row img {
    height: 20vh;
    width: 25vw;
  }
  .project-row img {
    height: 20vh;
    width: 40vw;
  }
}
